*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    background-color: #260b3d;
}
header h1{
    font-weight: 900;
    color: #ffffff;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding-right: 8px;
}
ul li > a{
    font-weight: 900;
    color: #fff;
    text-decoration: none;
}
div .intro{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.418);
    background-color: #260b3d;
    font-weight: 900;
    font-size: 30px;
}
section{
    padding: 60px 0px;
}
section .titulo{
    padding: 20px 0px;
   text-align: center;
   color: #420f0f;
}
section .titulo:hover{
    color: #951919;
}
section .artigos{
    display: flex;
    flex-wrap: wrap;
}
article{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 40px;
}
article img{
    width: 50%;
}

#economia{
    background-color: #08a34163;
}
#esportes{
    background-color: #0929cb5f;
}
#tecnologia{
    background-color: #ffff0076;
}
#entretenimento{
    background-color: #ff000060;
}
#ciencia{
    background-color: #8000806d;
}